{% extends "base.html.twig" %}

{% block body %}
{% set phone = app.session.get('phone') %}
{% set user = app.session.get('user') %}
<div class="container col-md-8 text-center mt-3">
   <div class="row">
      <div class="col-md-4" wrap ="hard" style="background-color: pink">
         <img class="img-thumbnail" src="{{ phone.image }}"
         width="200" height="200">
      </div>
      <div class="col-md-8"wrap ="hard" style="background-color: pink">
         <table class="table table-bordered">
            <tr>
               <th class="font family" colspan="6">Order Detail</th>
            </tr>
            <tr style="background-color:lightblue">
               <th>Customer Name</th>
               <th>Title</th>
               <th>Price</th>
               <th>Order Quantity</th>
               <th>Total Price</th>
               <th>Order Date</th>
            </tr>
            <tr>
               <td>{{ user.username }}</td>
               <td>{{ phone.title }}</td>
               <td>$ {{ phone.price }}</td>
               <td>{{ app.session.get('quantity')  }}</td>
               <td>$ {{ app.session.get('price') }}</td>
               <td>{{ app.session.get('datetime') | date('d/m/Y H:i:s') }}</td>
           </tr>
            <tr>
               <th colspan="6">
                  <a class="btn btn-primary" style="background-color: brown" href="{{ path('make_order') }}"
                  onclick="return confirm('Are you sure to delete this order ?');";
                  >Make order</a>
               </th>
            </tr>
         </table>
      </div>
   </div>
</div>
{% endblock %}