{% extends "base.html.twig" %}

{% block body %}
<div style="background-color: pink"> 
<div class="container col-md-8 text-center mt-3">
   <div class="row">
      <div class="col-4">
         <div class="card">
            <img src="{{ phone.image }}" width="290" height="340">
         </div>
      </div>
      <div class="col-6" >
         <table class="table table-bordered">
            <tr>
               <th colspan="2" class="bg-light">
                  <h2 class="font family">{{ phone.title }} </h2>
               </th>
            </tr>
            <tr class="h4 font family">
               <th style="background-color: lightgreen">Published Date</th>
               <td style="background-color: lightblue">{{ phone.date | date('d/m/Y')}}</td>
            </tr>
            <tr class="h4">
               <th style="background-color: lightgreen">Phone Price</th>
               <td style="background-color: lightblue">${{ phone.price }} </td>
            </tr>
            <tr class="h4" style="background-color: lightblue">
            {% if phone.quantity >= 1 %}
               <th style="background-color: lightgreen">Phone Quantity</th>
               <td >{{ phone.quantity }}</td>
            {% else %}
               <th>Phone Quantity</th>
               <td>Out of stock</td>
            {% endif %}           
            </tr>
            <tr class="h4">
               <th style="background-color: lightgreen" >Color</th>
               <td style="background-color: lightblue">
               {% if phone.color != null %}
                  <a class="text-decoration-none" href="{{ path('color_detail', {'id' : phone.color.id })}}">
                     {{ phone.color.name }}
                  </a>    
               {% else %}
                     <i>N/A</i>
               {% endif %}
             </td>
            </tr>
            <tr class="h4">
               <th style="background-color: lightgreen">Producer(s)</th>
               <td style="background-color: lightblue">
               {% if phone.producers == null %}
                  <i>Undefined</i>
               {% else %}
                  {% for producer in phone.producers %}
                    <a class="text-decoration-none" href="{{ path('producer_detail', {'id' : producer.id })}}">
                     {{ producer.name }} 
                    </a>
                     <br>
                  {% endfor %}
               {% endif %}
               </td>
            </tr>
            <tr class="h4">
               <th style="background-color: lightgreen">Store</th>
               <td style="background-color: lightblue">
               {% if phone.store == null %}
                  <i>Undefined</i>
               {% else %}
                  {% for store in phone.store %}
                    <a class="text-decoration-none" href="{{ path('store_detail', {'id' : store.id })}}">
                     {{ store.name }} 
                    </a>
                    <br>
                  {% endfor %}
               {% endif %}
            </tr>
            </td>
         </table>

           	<div class="card card-footer mt-1"  style="background-color: lightblue">
										<div class = "font family">
										<form action="{{ path('add_to_cart')}}" method="post">
											<input type="hidden" name="phoneid" value="{{ phone.id }}">
											<input type="number" name="quantity" min="1" max="{{ phone.quantity }}">
											<br>
											<input class="btn btn-success mt-3" type="submit" value="Add to cart">
										</form>
      </div>
   </div>
</div>
</div>
{% endblock %}