

{% extends "base.html.twig" %}

{% block body %}
<div style="background-color: pink"> 
	<div class="container mt-3 text-center">
		<h2 class="font family size = 11 ">
			Phone store
		</h2>
		<div
			class="row">
			{# arrange #}
			<div class="col-md-5">
				<div class="row">
					<div class="col">
						<h4 class="font family">Sort phone</h4>
					</div>
					<div class="col">
						<div class="form-group">
							<select class="form-control" onchange="window.location.href=this.value">
								<option>Select one</option>
								<option value="{{ path('sort_price_ascending') }}">gia tang dan </option>
								<option value="{{ path('sort_price_descending') }}">gia giam dan</option>
							</select>
						</div>
					</div>
				</div>
			</div>
			{# search #}
			<div class="col-md-7">
				<div class="row">
					<div class="col">
						
					</div>
					<div class="col">
						<div class="form-group">
							<form action="{{ path('search_phone') }}" method="post">
								<input class="form-control" type="search" name="keyword" placeholder="search" required maxlength="10">
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		{% if phones | length == 0 %}
			<h1 class="font family">No phone found !</h1>
		{% else %}
		<br>
			<h3> Total phones : {{ phones | length }} </h3>
			<div class="card-group" >
				<div class="row">
					{% for phone in phones %}
						{% if phones | length < 4 %}
							<div class="col mt-4">
							{% else %}
								<div class="col-md-3 mt-4">
								{% endif %}
								<div class="card"style="background-color:lightblue">
									<a href="{{ path('phone_detail', {'id' : phone.id }) }}">
										<img src="{{ phone.image }}" width="150" height="150">
									</a>
									<h4 class="font family">
										{{ phone.title }}
									</h4>
									{% if phone.quantity >=1 %}
										<h5 class="font family">
											Price:
											{{ phone.price }}
											$
										</h5>
										<h5 class="font family">
											In-stock:
											{{ phone.quantity }}
										</h5>
									</div>
									<div
										class="card card-footer mt-1">
										<div class = "font family">
										<form action="{{ path('add_to_cart')}}" method="post">
											<input type="hidden" name="phoneid" value="{{ phone.id }}">
											<input type="number" name="quantity" min="1" max="{{ phone.quantity }}">
											<br>
											<input class="btn btn-success mt-3" type="submit" value="Add to cart">
										</form>
										</div>
									{% else %}
										<h5 class="font family">
											Price:
											{{ phone.price }}
											$
										</h5>
										<h5 class="font family">
											Out of stock
										</h5>
									{% endif %}
								</div>
							</div>
						{% endfor %}
					</div>
				</div>
			{% endif %}
		</div>
	</div>
	{% endblock %}
