{% extends "base.html.twig" %}

{% block body %}
<div style="background-color: pink"> 
<div class="container col-md-8 text-center mt-3">
   <div class="row">
      <div class="col-4">
         <div class="card">
            <img src="{{ asset('images/books/'~book.image)}}" width="250" height="250">
         </div>
      </div>
      <div class="col-6" >
         <table class="table table-bordered">
            <tr>
               <th colspan="2" class="bg-light">
                  <h2 class="font family">{{ book.title }} </h2>
               </th>
            </tr>
            <tr class="h4 font family">
               <th style="background-color: lightgreen">Published Date</th>
               <td style="background-color: lightblue">{{ book.date | date('d/m/Y')}}</td>
            </tr>
            <tr class="h4">
               <th style="background-color: lightgreen">Book Price</th>
               <td style="background-color: lightblue">${{ book.price }} </td>
            </tr>
            <tr class="h4" style="background-color: lightblue">
            {% if book.quantity >= 1 %}
               <th style="background-color: lightgreen">Book Quantity</th>
               <td >{{ book.quantity }}</td>
            {% else %}
               <th>Book Quantity</th>
               <td>Out of stock</td>
            {% endif %}           
            </tr>
            <tr class="h4">
               <th style="background-color: lightgreen" >Genre</th>
               <td style="background-color: lightblue">
               {% if book.genre != null %}
                  <a class="text-decoration-none" href="{{ path('genre_detail', {'id' : book.genre.id })}}">
                     {{ book.genre.name }}
                  </a>    
               {% else %}
                     <i>N/A</i>
               {% endif %}
             </td>
            </tr>
            <tr class="h4">
               <th style="background-color: lightgreen">Author(s)</th>
               <td style="background-color: lightblue">
               {% if book.authors == null %}
                  <i>Undefined</i>
               {% else %}
                  {% for author in book.authors %}
                    <a class="text-decoration-none" href="{{ path('author_detail', {'id' : author.id })}}">
                     {{ author.name }} 
                    </a>
                     <br>
                  {% endfor %}
               {% endif %}
               </td>
            </tr>
         </table>
      </div>
   </div>
</div>
</div>
{% endblock %}